body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #FAD8E9;
}

.quem-somos {
    background-color: #EEEEEE;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #E1DFE0;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}